<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
      <supportedRuntime version="v2.0.50727"/>
    </startup>
  <appSettings>
    <add key="config.Uri" value="wss://***:443/Thingworx/WS"/>
    <add key="appKey" value="***"/>
  </appSettings>
    <system.diagnostics>
    <sources>
      <source name="com.thingworx.common.utils.JSONUtilities" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="file" />
          <add name="console" />
        </listeners>
      </source>
      <source name="com.thingworx.communications.client.TwApiWrapper" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="file" />
          <add name="console" />
        </listeners>
      </source>
      <source name="com.thingworx.communications.client.BaseClient" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="file" />
          <add name="console" />
        </listeners>
      </source>
      <source name="com.thingworx.communications.client.ConnectedThingClient" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="file" />
          <add name="console" />
        </listeners>
      </source>
      <source name="com.thingworx.communications.client.things.contentloader.ContentLoaderVirtualThing" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="file" />
          <add name="console" />
        </listeners>
      </source>
      <source name="com.thingworx.communications.client.things.filetransfer.FileTransferVirtualThing" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="file" />
          <add name="console" />
        </listeners>
      </source>
      <source name="com.thingworx.communications.client.things.VirtualThing" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="file" />
          <add name="console" />
        </listeners>
      </source>
      <source name="com.thingworx.metadata.annotations.MetadataAnnotationParser" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="file" />
          <add name="console" />
        </listeners>
      </source>
      <source name="com.thingworx.common.processors.ReflectionProcessor" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="file" />
          <add name="console" />
        </listeners>
      </source>
      <source name="SteamSensorConsole.SteamThing" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="file" />
          <add name="console" />
        </listeners>
      </source>
      <source name="SteamSensorConsole.SteamSensorClient" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="file" />
          <add name="console" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitch" value="Error" />
    </switches>
    <sharedListeners>
      <add name="file" type="com.thingworx.common.logging.FixedFieldTraceListener, thingworx-dotnet-common" initializeData="false"/>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false"/>
    </sharedListeners>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
</configuration>
